* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --background-prime: #000000;
  --background-sec: #14213d;
  --prime-color: #fca311;
  --text-main: #e5e5e5;
  --text-sec: #ffffff;
}

body {
  min-width: 100vw;
  min-height: 100vh;
  background-color: var(--background-prime);
  color: var(--text-main);
}
